{% extends "administracion/core_adm.html" %}
{% load static %}
{% block title %}Lista de reservas{% endblock title %}
{% block link %}<link rel="stylesheet" href="{% static 'hotel/css/style_inicio.css' %}" />{% endblock link %}
{% block content %}

<div class="card mt-4 mx-5">
    <div class="card-header text-center">
        <h1>Lista de Reservas</h1>
    </div>
    <div class="card-body text-center">
        <div class="row">
            <table>
                <thead>
                    <tr>
                        <th class="px-3">RESERVA ID</th>
                        <th class="px-3">HABITACION</th>
                        <th class="px-3">FECHA ENTRADA</th>
                        <th class="px-5">FECHA SALIDA</th>
                        <th class="px-5">TIPO HABITACION</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reserva in reservas %}
                    <form action="{% url 'ver_reserva_equipo' %}" method="post">
                        {% csrf_token %}
                        <tr>
                            <td>{{ reserva.reserva_id }}</td>
                            <td>{{ reserva.habitacion.numero_habitacion }}</td>
                            <td>{{ reserva.fecha_entrada }}</td>
                            <td>{{ reserva.fecha_salida }}</td>
                            <td>{{ reserva.habitacion.tipo_habitacion.nombre }}</td>
                            <input type="hidden" name="reserva_id" id="reserva_id" value={{ reserva.reserva_id }}>
                            <td>
                                <button class="btn-sm btn-primary" type='submit'>Ver detalles</button>
                            </td>
                        </tr>
                    </form>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer text-center">
        <a href="{% url 'menu_adm' %}">Volver</a>
    </div>
</div>
{% endblock content %}