{% extends "core.html" %}
{% load static %}
{% block title %}Busqueda{% endblock title %}
{% block link %}<link rel="stylesheet" href="{% static 'hotel/css/style_busqueda.css' %}" />{% endblock link %}
{% block content %}
<div class="custom-center">
    <h1 class=" bg-custom-text">Búsqueda de habitaciones</h1>
</div>

    {% if error_fecha_entrada  or error_fecha_salida or error_cantidad_huesped %}
        <div class="alert alert-danger text-center">
            {{ error_fecha_entrada }}
            {{ error_fecha_salida }}
            {{ error_cantidad_huesped }}
        </div>
    {% endif %}
    <div class="container custom-center bg-custom-text2" >
        <div class="text-center">
            <form action="{% url 'resultados' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="fecha_entrada">Fecha de entrada</label>
                    <input type="date" id="fecha_entrada" name="fecha_entrada" value="{{ fecha_entrada }}" class="form-control">
                </div>
                <div class="form-group">
                    <label for="fecha_salida">Fecha de salida</label>
                    <input type="date" id="fecha_salida" name="fecha_salida" value="{{ fecha_salida }}" class="form-control">
                </div>
                <div class="form-group">
                    <label for="numero_huespedes">Número de huéspedes (MAXIMO 4)</label>
                    <input type="number" id="numero_huespedes" name="numero_huespedes" value="{{ numero_huespedes }}" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary btn-custom">Buscar</button>
            </form>
        </div>
    </div>

{% endblock content %}